.card-container {
  display: flex;
  flex-flow: wrap;
}

.user-card {
  width: 220px;
  margin: 15px;

  .user-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}

.button-container .mdc-button {
  margin: 15px;
}
